{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaVersion": "latest"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn"],
    "no-console": "warn"
  }
}